.desktop {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: larger;
    font-weight: bolder;
}

header {
    background-color: rgb(200, 196, 248);
    padding: 30px;
    display: flex;
    justify-content: center;

}

main {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    justify-content: space-between;
    flex-grow: 1;

}

.box-main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 180);
    flex-grow: 1;
    flex-direction: column;
}

.text1-2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.main-title {
    flex-grow: 1;
    text-align: center;
}

.main-text {
    padding: 10px;
    background-color: rgb(241, 237, 27);
    width: 45%;
    text-align: center;
}

.main-text3 {
    background-color: rgb(241, 237, 27);
    text-align: center;
    padding: 10px;
}

aside {
    width: 30vw;
    display: flex;
    justify-content: center;
    background-color: rgb(199, 247, 231);
}

.aside-title {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(200, 196, 248);

}

.footer-section {
    background-color: white;
    padding: 30px;
    margin: 10px;
}